* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #121212, #212B46);
    
    .title {
        font-size: 3em;
        color: #fff;
        animation: titleAnimation 2s;
    }
    
    .inputArea {
        background-color: rgba(255, 255, 255, 0.082);
        padding: 20px 30px;
        margin: 25px 0;
        border-radius: 8px;
        display: flex;
        flex-direction: row;
        box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);

        input {
            padding: 5px 35px;
            width: 100%;
            background: transparent;
            border: 1px solid rgba(0, 0, 0, 0.6);
            border-radius: 8px;
            height: 50px;
            outline: 0;
            margin-right: 8px;
            color: #fff;

            &::placeholder {
                color: #f1f1f1;
                font-size: 1rem;
            }
        }

        .searchButton {
            background-color: transparent;
            color: #fff;
            border: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            cursor: pointer;

            &:hover {
                transform: scale(1.2);
            }
        }
    }
}

.infoArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 1px 3px 8px rgba(0, 0, 0, 0.7);
    width: 450px;
    
    h2 {
        margin: 15px 0;
        font-size: 2rem;
    }
    
    p {
        margin-bottom: 10px;
        font-weight: bold;
        font-size: 1.2rem;
    }
}

@keyframes titleAnimation {
    from {
        transform: rotateX(90deg);
    }
    to {
        transform: rotateY(10deg);
    }
}